/* css styles */

/* Center all elements in the about page for jolla template */
.quarto-about-jolla {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Ensure the title and subtitle are also centered */
.quarto-about-jolla .about-entity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Force icons to stay horizontal on mobile in trestles/jolla */
.about-links {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  flex-wrap: nowrap !important; /* Prevents wrapping to a new line */
  gap: 15px; /* Adds space between icons */
}

/* Adjust margins for mobile to prevent overflow */
@media (max-width: 768px) {
  .about-links {
    margin-top: 1em;
    width: 100%;
  }
}



.about-trestles .title {
  font-size: 2.0em; 
}

.quarto-about-trestles .about-title {
  font-size: 1.75em; 
}

#title-block-header.quarto-title-block.default .quarto-title .subtitle {
  font-size: 1em;
  color: gray
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 14pt;
  background-color: #ebebeb;
}

.navbar-brand {
  font-family: 'EB Garamond', serif;
  font-size: 1.15em; 
  font-weight: 400;
}

.navbar-nav .nav-link {
  font-family: 'EB Garamond', serif;
  font-size: 1.15em; 
  font-weight: 400; 
  color: #6c757d; 
}

.navbar-nav .nav-link.active {
  font-weight: 400;
  color: #000000 !important; 
}

.navbar {
  background-color: #ebebeb;
  border-bottom: none; 
  box-shadow: none;    
}

.navbar-brand-logo {
  width: auto;
  margin-right: 10px;
}

.hanging-indent p {
  margin-bottom: 0em; 
}

.panel-tabset .nav-tabs {
  display: flex;
  justify-content: center;
}