/* css styles */

.about-trestles .title {
  font-size: 2.0em; 
}

.quarto-about-trestles .about-title {
  font-size: 1.75em; 
}

#title-block-header.quarto-title-block.default .quarto-title .subtitle {
  font-size: 1em;
  color: gray
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 14pt;
  background-color: #ebebeb;
}

.navbar-brand {
  font-family: 'EB Garamond', serif;
  font-size: 1.15em; 
  font-weight: 400;
}

.navbar-nav .nav-link {
  font-family: 'EB Garamond', serif;
  font-size: 1.15em; 
  font-weight: 400; 
  color: #6c757d; 
}

.navbar-nav .nav-link.active {
  font-weight: 400;
  color: #000000 !important; 
}

.navbar {
  background-color: #ebebeb;
  border-bottom: none; 
  box-shadow: none;    
}

.navbar-brand-logo {
  width: auto;
  margin-right: 10px;
}

.hanging-indent p {
  margin-bottom: 0em; 
}

.panel-tabset .nav-tabs {
  display: flex;
  justify-content: center;
}